<app-navbar></app-navbar>
<div class="home-container">
    <div class="main-content animate__animated animate__fadeInUp">
        <div class="main-content animate__animated animate__fadeInUp">
            <div class="dubai-container">
                <img src="../../../assets/Images/Dubai.png" alt="Dubai Image" class="dubaiimg">
            </div>
        </div>
        <div class="text-container">
            <h2>Dubai Trip 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam laborum nemo soluta molestias, reiciendis facilis non odio ipsum enim eligendi. Adipisci ad nemo officiis nesciunt itaque eum commodi libero sunt.</p>
        </div>
    </div>
<div>
    <div>
        <div id="trip-section" class="trip">
            <p style="font-size: 25px; color: aquamarine;">My Trips</p>

        </div>
        <div class="card-container">
            <mat-card  class="example-card">
                <mat-card-header class="row align-items-center">
                    <p>Dubai</p>
                </mat-card-header>
                <img mat-card-image src="../../../assets/Images/Dubai.png" alt="Image">
                <mat-card-content>
                    <p>Dubai Trip Iternary</p>
                </mat-card-content>
                <button>Click to know More..</button>
              </mat-card>

              <mat-card class="example-card">
                <mat-card-header class="row align-items-center">
                    <p>Malyasia</p>
                </mat-card-header>
                <img mat-card-image src="../../../assets/Images/Dubai.png" alt="Image">
                <mat-card-content>
                    <p>Malyasia Trip Iternary</p>
                </mat-card-content>
                <button>Click to know More..</button>
              </mat-card>

              <mat-card class="example-card">
                <mat-card-header class="row align-items-center">
                    <p>Singapore</p>
                </mat-card-header>
                <img mat-card-image src="../../../assets/Images/Dubai.png" alt="Image">
                <mat-card-content>
                    <p>Singapore Trip Iternary</p>
                </mat-card-content>
                <button>Click to know More..</button>
              </mat-card>

        </div>
    </div>
  
</div>


</div>
<app-footer></app-footer>